@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

form{
    max-width: 600px;
    margin: 50px auto;
}

/* a{
    margin: 0 10px;
} */

.products{
    max-width: 600px;
    padding: 20px;
    margin: 0px auto;
    border: 1px solid grey;
    border-radius: 10px;
}

.product{
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover{
      text-decoration: none;
      color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }



  .profile{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: orange;
    cursor: pointer;
  }

  #usernameLi{
    background-color: #57f542;
  }