@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

form{
    max-width: 600px;
    margin: 50px auto;
}

a{
    margin: 0 10px;
}

.products{
    max-width: 600px;
    padding: 20px;
    margin: 0px auto;
    border: 1px solid grey;
    border-radius: 10px;
}

.product{
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
