<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/sell">Sell</a></li>
    <li><a href="/require">Require</a></li>
    <li><a href="/users/admin">Admin</a></li>
    <li class="split"><a  href="/register">Register</a></li>
    <li><a  href="/login">Login</a></li>
    <li><a  href="/users/logout">Logout</a></li>
</ul>