<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>

    {{>navbar}}
    
    
    <div class="jumbotron">
        <div class="container">
            <h1>Admin Panel</h1>
        </div>
    </div>

    <div class="list">
        {{#each users}}
        <div class="product">
            <div class="email">
                Name: {{this.email}}
            </div>
            <div class="points">
                Age: {{this.points}}
            </div>
            <input type="text" class="form-control">
            <button class="btn btn-dark" data="{{this._id}}" onclick="Update(event)">Update</button>
            {{!-- <form action="/users" method="GET">
                <div class="form-group">
                    <label for="points">Update Points</label>
                    <input type="text" class="form-control" name="points">
                </div>
                <div class="form-group">
                    <label for="id">Update Points</label>
                    <input type="text" class="form-control" name="id" value="{{this._id}}">
                </div>

                <button type="submit" class="btn btn-dark">Submit</button>
            </form> --}}
        </div>
        {{/each}}
    </div>

    <script src="./js/admin.js"></script>
</body>
</html>