<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NITK-Trade</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>

    {{>navbar}}


    <div class="jumbotron">
        <div class="container">
            <h1>NITK-Trade</h1>
                <p class="profile" id ="pointsLi">Points: <span id="points">Login First</span></p>
                <p class="profile" id ="usernameLi">Logged In As: <span id="username">Login First</span></p>
        </div>
    </div>

    <div class="list">
        <h1>Products</h1>
        <div class="products">

        </div>
    </div>

    <div class="list">
        <h1>Required</h1>
        <div class="products">
            {{#each required}}
            <div class="product">
                <div class="email">
                    Name: {{this.name}}
                </div>
                <div class="points">
                    Expected Cost: {{this.cost}}
                </div>
                <div class="points">
                    Request By: {{this.owner.name}}
                </div>
                <div class="points">
                    Contact No.: {{this.owner.phone}}
                </div>

            </div>
            {{/each}}
        </div>
    </div>

    <div class="list">
        <h1>Your Orders</h1>
        <div class="orders">
            
        </div>
    </div>

    
    <script src="./js/index.js"></script>
</body>
</html>