<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy And Sell</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sell">Sell</a></li>
        <li><a href="/admin">Admin</a></li>
        <li class="profile" id ="pointsLi">Points: <span id="points">Login First</span></li>
        <li class="profile" id ="usernameLi">Logged In As: <span id="username">Login First</span></li>
        <li style="float:right"><a  href="/register">Register</a></li>
        <li style="float:right"><a  href="/login">Login</a></li>
        <li style="float:right"><a  href="/users/logout">Logout</a></li>
    </ul>


    {{!-- <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <a href="/" class="center btn btn-primary">Home</a>
        <a href="/sell" class="btn btn-dark">Sell</a>
        <a href="/register" class="btn btn-primary">Register</a>
        <a href="/login" class="center btn btn-dark">Login</a>
        <a href="/users/logout" class="center btn btn-primary">Logout</a>
        <a class="center btn btn-warning">Points: <span id="points">Login First</span></a>
    </nav> --}}
    <div class="jumbotron">
        <div class="container">
            <h1>Buy And Sell</h1>
        </div>
    </div>

    <div class="list">
        <h1>Products</h1>
        <div class="products">

        </div>
    </div>

    <div class="list">
        <h1>Your Orders</h1>
        <div class="orders">
            
        </div>
    </div>

    
    <script src="./js/index.js"></script>
</body>
</html>